<% layout('layout/boiler') %>
<body>
  <!-- <div class="mt-3 mb-3"> <h2 >All Listings</h2></div> -->
   <style>
    #filters{
      display:flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter{
      text-align: center;
      margin-left: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      opacity: 0.75;
    }
    .filter:hover{
      cursor: pointer;
      opacity: 1
    }
    .tax-info{
      display: none;
    }
    .tax-switch{
      border: 1px solid grey;
      border-radius: 1rem;
      padding: 0.5rem;
      height: 3rem;
      margin-left: 5rem;
      display: flex;
      align-items: center;
    }
   </style>

   <div id="filters">
    
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i>
      </div>
      <p>Rooms</p>
    </div>
     <div class="filter">
      <div><i class="fa-solid fa-mountain"></i>
      </div>
      <p>Mountains</p>
    </div>
     <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i>
      </div>
      <p>Castles</p>
    </div>
     <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i>
      </div>
      <p>Pools</p>
    </div>
     <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i>
      </div>
      <p>Beaches</p>
    </div>
     <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i>
      </div>
      <p>Snowlands</p>
    </div>
     <div class="filter">
      <div><i class="fa-solid fa-campground"></i>
      </div>
      <p>Campings</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-wallet"></i>
      </div>
      <p>Budget Friendly</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-gem"></i>
      </div>
      <p>Premium</p>
    </div>
    <!-- <div class="filter">
      <div><i class="fa-solid fa-heart"></i>
      </div>
      <p>Coule Friendly</p>
    </div> -->
    <div class="tax-switch">
      <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
      <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
</div>
    </div>
   </div>
   
  <div class="row row-cols-lg-3 row row-cols-md-2 row row-cols-sm-1" >
    <%for(listing of listings) {%>
  <a href="/listings/<%= listing._id %>"  class="text-decoration-none">
   <div class="listing-card card">
   <img src="<%= listing.image.url %>" class="card-img-top" alt="img" style="height: 20rem">
   <div class="card-img-overlay"></div>
   <div class="card-body">
    <p class="card-text">
        <b><%= listing.title %> </b><br>
       <%= "₹" + listing.price.toLocaleString("en-IN") %>/night &nbsp;&nbsp;<small class="tax-info">+ 18% GST</small>
    </p>
  </div>
</div>
</a>
    <%}%>
       </div>
       <script>
  const taxSwitch = document.getElementById('switchCheckDefault');

  taxSwitch.addEventListener('click', () => {
    const taxInfos = document.getElementsByClassName('tax-info');

    for (let tax of taxInfos) {
      if (tax.style.display === 'none' || tax.style.display === '') {
        tax.style.display = 'inline';
      } else {
        tax.style.display = 'none';
      }
    }
  });
</script>

</body>
